/* green - #2ecc71 */


a:link,a:visited,.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus,a:hover,a:active,.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
	color: teal;
}

.spacer,.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,#grid .mix .overlay {

background:  teal;
}



.btn.btn-default:hover,
.btn.btn-default:active{
    color: teal;
}

